name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python 3.10
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
                  pip install pytest "httpx<0.28.0"
            - name: Run tests
              run: |
                  python -m pytest

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python 3.10
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install flake8
            - name: Run Lint
              run: |
                  flake8 . --count --statistics --ignore=E302,E305,E501,W293,W391

    build:
        runs-on: ubuntu-latest
        needs: [test, lint]
        steps:
            - uses: actions/checkout@v3
            - name: Build the Docker image
              run: docker build -t python-exercise-app .
